.md-container {
  padding: 10px 20px;
  background-color: #fff;
}
.md-action-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.main-extra-title {
  font-size: 14px;
  color: #333;
  .sub-title {
    font-size: 14px;
    color: rgb(204, 0, 0);
  }
}
