.md-container {
  padding: 10px 20px;
  background-color: #fff;
}
.md-action-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 8px;
}

.product-msg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  overflow-wrap: break-word;
}

.tag-content {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
}
.gray {
  color: #a5a5a5;
}
